extends layout

block content
  header
    .container
      .row
        .col-lg-12
          img.img-responsive(src='img/profile.png' alt='')
          .intro-text
            span.name Welcome to noYelp
            hr.star-light
            span.skills What are you going to eat for lunch ?
  section
    .container
      .row
        .col-lg-12.text-center
          h2 Popular restaurants
          hr.star-primary
      .row
        each restaurant in restaurants
          .col-sm-4.portfolio-item.text-center
            a.portfolio-link(href='/restaurants/view/#{restaurant._id}' data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x 
                  span #{restaurant.name}
              img.img-responsive(src='/img/restaurants/demo.png' style='height: 150px; margin: 0 auto;' alt='')
  // About Section
  section#about.success
    .container
      .row
        .col-lg-12.text-center
          h2 About
          hr.star-light
      .row
        .col-lg-4.col-lg-offset-2
          p
            | NoYelp is a great tool for when you're hungry. What would you want to eat today?
        .col-lg-4
          p
            | Something should be here