extends ../layout

block content
    header
        link(href='https://www.w3schools.com/w3css/4/w3.css' rel='stylesheet')
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet')

    section
        .container
            .row
            h2 Create restaurant
            .row
                .col-lg-12.text-center
                    form(action="/restaurants/create" method="POST")
                        .form-group
                            input#restaurantName.form-control(name="name" type="text" placeholder="Enter the name of a restaurant")
                        .form-group
                            input#location.form-control(name="location" type="text" placeholder="Enter the name of the location")
                        .form-group
                            input#neighborhood.form-control(name="neighborhood" type="text" placeholder="Enter a neighborhood")
                        .form-group
                            input#councilDistrict.form-control(name="councilDistrict" type="text" placeholder="What is the council district")
                        .form-group
                            .btn-group
                                button.btn.btn-primary(type="submit") Create
                                button.btn.btn-danger Cancel